
/* TUTTI */

*{
  box-sizing: border-box;
  background-color: white;
  font-family:'Lato',sans-serif;
}


/* CONTAINER PRINCIPALE */

.container {
  margin:0;
  padding:0;
  height: 100vw;
  max-width: 100vw;
}


/* HEADER */
@media only screen and (min-width: 920px) {
  .header {
    height: 6.5rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    background-color: white;
    display: flex;
    align-items: center;
  }

  .header img {
    margin-top: 0.5rem;
    margin-left: 10.5vw;
    height: 70px;
    width: 70px;
    margin-right: 580px;
  }




      /* submenù per il CAFFE */

  .caffe .sub_caffe {
    position: absolute;
    display: none;
    border-top: 2px solid #006c45;
    width: 15rem;
    height: 2rem;
    margin-top: 1.5rem;
    text-decoration: none;
    margin-left: -1rem;
    z-index: 1;
  }
  .caffe:hover .sub_caffe {
    display: block;
  }
  .sub_caffe:hover {
    display: block;
  }
  .sub_caffe ul {
    padding-left: 1rem;
  }
  .sub_caffe li {
    list-style-type: none;
    text-align:start;
    padding-bottom: 2rem;
    color:black;
  }
  .sub_caffe .caffe3 {
    padding-bottom: 1rem;
  }
  .caffe1:hover {
    color: #00754a;
  }
  .caffe2:hover {
    color: #00754a;
  }
  .caffe3:hover {
    color: #00754a;
  }


      /* submenù per il MENU */

  .menu .sub_menu {
    position: absolute;
    display: none;
    border-top: 2px solid #006c45;
    width: 15rem;
    height: 2rem;
    margin-top: 1.5rem;
    text-decoration: none;
    margin-left: -1rem;
    z-index: 1;
  }
  .menu:hover .sub_menu {
    display: block;
  }
  .sub_menu:hover {
    display: block;
  }
  .sub_manu ul {
    padding-left: 1rem;
  }
  .sub_menu li {
    list-style-type: none;
    text-align:start;
    padding-bottom: 2rem;
    color:black;
  }
  .sub_menu .menu2 {
    padding-bottom: 1rem;
  }
  .menu1:hover {
    color: #00754a;
  }
  .menu2:hover {
    color: #00754a;
  }


      /* submenù per il RESPONSABILITA */

  .responsabilita .sub_resp {
    position: absolute;
    display: none;
    border-top: 2px solid #006c45;
    width: 15rem;
    height: 2rem;
    margin-top: 1.5rem;
    text-decoration: none;
    margin-left: -1rem;
    z-index: 1;
  }
  .responsabilita:hover .sub_resp {
    display: block;
  }
  .sub_resp:hover {
    display: block;
  }
  .sub_resp ul {
    padding-left: 1rem;
  }
  .sub_resp li {
    list-style-type: none;
    text-align:start;
    padding-bottom: 2rem;
    color:black;
  }
  .sub_resp .resp4 {
    padding-bottom: 1rem;
  }
  .resp1:hover {
    color: #00754a;
  }
  .resp2:hover {
    color: #00754a;
  }
  .resp3:hover {
    color: #00754a;
  }
  .resp4:hover {
    color: #00754a;
  }


      /* submenù per il SUDINOI */

  .sudinoi .sub_sudinoi {
    position: absolute;
    display: none;
    border-top: 2px solid #006c45;
    width: 15rem;
    height: 2rem;
    margin-top: 1.5rem;
    text-decoration: none;
    margin-left: -1rem;
    z-index: 1;
  }
  .sudinoi:hover .sub_sudinoi {
    display: block;
  }
  .sub_sudinoi:hover {
    display: block;
  }
  .sub_sudinoi ul {
    padding-left: 1rem;
  }
  .sub_sudinoi li {
    list-style-type: none;
    text-align:start;
    padding-bottom: 2rem;
    color:black;
  }
  .sub_sudinoi .sudinoi3 {
    padding-bottom: 1rem;
  }
  .sudinoi1:hover {
    color: #00754a;
  }
  .sudinoi2:hover {
    color: #00754a;
  }
  .sudinoi3:hover {
    color: #00754a;
  }


      /* Impostazioni dei diversi header principali */

      /* qualsiasi div hoverato diventa verde */

  .header div:hover {
    color: #00754a;
  }

          /* CAFFE */
  .header .caffe {
    padding-top: 2rem;
    padding-right: 2rem;
    position: relative;
    height: 5rem;
    text-align: center;
  }

          /*MENU*/
  .header .menu {
    padding-top: 2rem;
    padding-right: 2rem;
    position: relative;
    height: 5rem;
    text-align: center;
  }

          /*RESPONSABILITA*/
  .header .responsabilita {
    padding-top: 2rem;
    padding-right: 2rem;
    position: relative;
    height: 5rem;
    text-align: center;
  }

          /*COMMUNITY*/
  .header .community {
    padding-top: 2rem;
    padding-right: 2rem;
    position: relative;
    height: 5rem;
    text-align: center;
  }

          /*SUDINOI*/
  .header .sudinoi {
    padding-top: 2rem;
    padding-right: 2rem;
    position: relative;
    height: 5rem;
    text-align: center;
  }

}

/* INFO */

.info {
  background-color: rgb(240, 240, 240);
  height: 13rem;
  text-align:center;
  padding-top: 1.5rem;
}

.info sup,span {
  background-color: rgb(240, 240, 240);
}

.info h2 {
  color:#006241;
  font-size: 1.25rem;
  font-family: 'Poppins',sans-serif;
  background-color: rgb(240, 240, 240);
}


/* IMMAGINE TOP*/

.imgHome {
  overflow: hidden;
  position: relative;
  height: 804px;
}
.imgHome img {
  transform: scale(1.15);
  padding-bottom: 600px;
  padding-right: 2600px;
  /*width: 100vw;*/
}



/* IL NOSTRO MENU */

.ilnostromenu {
  text-align: center;
}

.ilnostromenu h1 {
  padding-top: 3rem;
  font-family: 'Poppins',sans-serif;
}

.separatore {
  margin: 0 auto;
  border-bottom: 3px solid #006c45;
  width: 6%; 
}



.immaginimenu {
  margin-top: 5rem;
  text-align: center;
  height: 100%;
  width: 100%;
}
.imgmenu1 {
  width: 42.5vw;
  height: 34vw;
  max-width: 500px;
  max-height: 400px;
  background-image: url('https://www.starbucks.it/wp-content/uploads/2023/01/Tile_cibo_sbux.jpg');
  background-size: cover;
  margin-right :20px;
  display: inline-block;
}
.imgmenu2 {
  width: 42.5vw;
  height: 34vw;
  max-width: 500px;
  max-height: 400px;
  background-image: url('https://www.starbucks.it/wp-content/uploads/2022/03/SDO_starbucks_17122020_004-min-scaled.jpg');
  background-size: cover;
  margin-left: 20px;
  display: inline-block;
}

.imgmenu1-sott {
  margin-top: 36vw;
  display: inline-block;
  font-family: 'Poppins',sans-serif;
  color:#006241;
  font-weight: bold;
  font-size: 1.8vw;
}
.imgmenu2-sott {
  margin-top: 36vw;
  display: inline-block;

  font-family: 'Poppins',sans-serif;
  color:#006241;
  font-weight: bold;
  font-size: 1.8vw;
}




@media only screen and (min-width: 1231px) {
  .header img {
    margin-top: 0.5rem;
    margin-left: calc(1vw + ((100vw - 1200px)/(2.35)));
    height: 70px;
    width: 70px;
  }
}

@media only screen and (max-width: 1231px) {
  .header img {
    margin-top: 0.5rem;
    margin-left: 20px;
    height: 70px;
    width: 70px;
  }
}

@media only screen and (max-width: 1256px) {
  .header img {
    margin-right: calc(40vw + ((100vw - 1200px)/(2.35)));
  }
}

@media only screen and (min-width: 1259px) {
  .imgmenu1-sott {
    margin-top: 450px;
    font-size: 1.40rem;
  }
  .imgmenu2-sott {
    margin-top: 450px;
    font-size: 1.40rem;
  }
}


@media only screen and (max-width: 920px) {
  
}




.inostricaffe {
  margin-top: 100px;
  width: 100vw;
  height: 35vw;
  background-image: url(https://www.starbucks.it/wp-content/uploads/2022/03/CAFFe.webp);
  background-size: cover;
  display: flex;
  align-items: center;
}
.testo {
  background-color: transparent;
}
.testo h1{
  margin-left: 200px;
  background-color: transparent;
  color: white;
  font-family: 'Poppins',sans-serif;
}
.inostricaffe p{
  max-width: 550px;
  margin-left: 200px;
  background-color: transparent;
  color: white;
  font-size: medium;
  line-height: 1.5;
  margin-bottom: 30px;
}
.inostricaffe sup{
  background-color: transparent;
  color: white;
}
.inostricaffe a{
  padding: 10px;
  background-color: #006241;
  margin-left: 200px;
  border-radius: 30px;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}
.inostricaffe a:hover{
  background-color: black;
}